# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage
*.lcov

# Production
build
dist
.svelte-kit

# Misc
.DS_Store
*.pem
.env
.env.test
.env.local
.env.production.local
.env.test.local

# Debug
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Rust
/target
**/*.rs.bk
Cargo.lock

# Tauri
src-tauri/target
